@import '~react-block-ui/style.css';

html {
  font-size: $font-size-base;

  // 1199px and down
  @include media-breakpoint-down(lg) {
    font-size: $font-size-md;
  }

  // 991px and down
  @include media-breakpoint-down(md) {
    font-size: $font-size-sm;
  }

  // 767px and down
  @include media-breakpoint-down(sm) {
    font-size: $font-size-xs;
  }

  // 575px and down
  @include media-breakpoint-down(xs) {
    font-size: $font-size-xxs;
  }

  // height: 767px and down
  @media(max-height: 767px) {
    font-size: $font-size-xxs;
  }
}

body {
  background-color: $body-bg;
}

.app {

  &--dark {
    background: $gray-900 url("../img/login_bg.png") no-repeat;
    background-position: bottom right;
    background-size: 40vw;
  }
}

.heading {
  font-weight: bold;
  color: $gray-900;
  margin: 10px 0;
  font-size: $font-size-medium;
}

.input-range__label-container {
  position: static;
}

.input-range__label {
  color: $black;
}

.input-range__label--value {
  top: 0;
}

.input-range__track {
  background: $track-unactive-bg !important;
}

.input-range__track--active {
  background: $track-active-bg !important;
}

.input-range__slider {
  background: $slider-bg !important;
  border: 1px solid $slider-bg !important;
}

.line-through {
  position: relative;

  &:after {
    content: '';
    border-bottom: 3px solid;
    position: absolute;
    left: 0;
    right: 4px;
    top: 9px;
  }
}

.input-wrapper {
  margin-top: 10px;
}

.bid-btn {
  background-color: $bid-btn-light;
  width: 100%;
  padding: 10px;
  color: #fff;
  border-radius: 12px;
  border: none;

  &--dark {
    background-color: $bid-btn-dark;
  }

  &--fixed {
    max-width: 250px;
  }

  &:hover {
    background-color: $bid-btn-light;
    color: $white;
  }

  &:focus {
    outline: none;
  }
}

.btn-app-login {
  border-radius: 12px;
  color: $white;
  height: 35px;
  border: 0;
  background-color: $login-btn-bg;

  &:focus {
    outline: none;
  }
}

.separator {
  height: 1px;
  width: 100%;
  background-color: $separator-bg;
  margin: 15px 0;
}

.add-btn {
  border: none;
  background-color: transparent;
  color: $blue;
  padding: 0;
  font-weight: bold;
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.loader {
  
  img {
    width: 50px;
  }
}

.currency-icon {
  width: 40px;
  background: $black;
  color: $white;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
  padding: 2px 0;
  font-weight: bold;

  i {
    font-weight: bold;
  }
}

.scrollarea {

  &:hover {

    .scrollbar-container {
      opacity: .5!important;
    }
  }
  
  .scrollbar-container {
    background-color: $scrollbar-color!important;
    opacity: .5!important;
    z-index: 99!important;
  }
}

.feature-coming-soon {
  position: relative;
  padding: 20px;
}

.select__menu {
  z-index: 100;
}