@mixin placeholder {
    ::-webkit-input-placeholder {
      @content
    }
  
    :-moz-placeholder {
      @content
    }
  
    ::-moz-placeholder {
      @content
    }
  
    :-ms-input-placeholder {
      @content
    }
}

@mixin boxShadow {
  -webkit-box-shadow: 0px 3px 4px 0px rgba(197,197,197,1);
  -moz-box-shadow: 0px 3px 4px 0px rgba(197,197,197,1);
  box-shadow: 0px 3px 4px 0px rgba(197,197,197,1);
}