.tabs {

  ul {
    border: 1px solid #bdbdbd;
    background-color: #f1f1f1;
  }

  .tab-content {
    border: 1px solid #bdbdbd;
  }

  .nav-link {
    border: 1px solid #bdbdbd;
    border-top: none !important;
  }

  .nav-item .nav-link {
    border-left: none !important;
    color: #989898;
    font-size: 14px;

    &:hover {
      color: #989898;
    }
  }

  .bid-btn {
    margin: 15px 0;
    max-width: 200px;
  }

  .bid-btn-dark {
    max-width: 400px;
  }
}

.video {
  padding-bottom: 75px;

  &__image {
    max-width: 200px;
    margin: 50px 0 75px 0;
  }

  &__file-upload {
    margin-top: 75px;
  }

}

.formulary-input-wrap {
  margin-bottom: 15px;

  .add-btn {
    margin-top: 15px;
  }

  label {
    font-weight: normal;
    margin-bottom: 8px;
    line-height: normal;
  }

  input[type="text"] {
    border: 0;
    border-radius: 12px;
    background-color: #f1f1f1;
  }
}