.aside-menu {

  &__coming-soon {

    img {
      width: 150px;
      height: 150px;
    }
  }

  &__title {
    font-size: $font-size-xxs;
    font-weight: bold;
    line-height: 1.1;

    &--big {
      font-size: $font-size-big;
    }

    &--colored {
      color: $g-orange;
    }
  }
}