.custom-breadcrumb-wrapper {
    margin-left: -30px;
    margin-right: -30px;
  }
  
  .custom-breadcrumb {
    width: 100%;
    border-bottom: 1px solid $breadcrumb-border;
    padding: 15px 30px;
    background-color: $white;
    cursor: pointer;
  
    &--no-border {
      border: none;
    }
  
    &__label {
      color: $breadcrumb-label;
      display: flex;
      align-items: center;
      margin: 0;
    
      svg {
        margin-right: 10px;
      }
    }

    &__arrow {

      svg {
        font-size: $font-size-medium;
      }
    }
  }