.promotion {
  background: $white;
  height: 800px;
  overflow-y: auto;

  &__item {
    border-bottom: 1px solid $promotion-border;
    cursor: pointer;

    &--activated {
      background-color: $promotion-activated;
      cursor: default;
    }
  }

  &__label-middle {
    width: 100%;
    margin-bottom: 0;
    font-weight: bold;
    line-height: normal;
  }

  &__span-middle {
    font-weight: lighter;
  }

  &__label-right {
    width: 100%;
    font-weight: bold;
    font-size: $font-size-medium;
    line-height: normal;
    margin-bottom: 0;
  }

  &__span-right {
    font-weight: lighter;
    font-size: $font-size-sm;
  }

  &__circle-container {
    border-right: 1px solid $promotion-border;
  }

  &__circle {
    width: 100px;
    height: 100px;
    background: $promotion-circle;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    span {
      &:first-child {
          font-weight: bold;
          font-size: $font-size-medium;
      }

      &:last-child {
          position: relative;
          bottom: -2px;
          font-size: $font-size-sm;
      }
    }
  }

  &__body {
    flex: 1;
  }
}