.research-filters {
  margin-bottom: 25px;

  &__preview {
    font-size: $font-size-medium;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $card-border-color;

    i {
      font-size: $font-size-medium;
    }
  }

  &__users, &__price {
    display: flex;
    align-items: center;
  }

  .input-range__label--max {
    display: none;
  }
  
  .input-range__label--min {
    display: none;
  }

  .input-range__label-container {
    display: none;
  }
}