.research-filters {
  margin-bottom: 25px;

  &__preview {
    font-size: $font-size-medium;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $card-border-color;

    i {
      font-size: $font-size-medium;
    }
  }

  &__users, &__price, &__establishment-select-all {
    display: flex;
    align-items: center;
  }

  &__establishment-remove-all {
    display: flex;
    align-items: center;
  }

  &__establishments {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__establishments-wrapper {
    flex-grow: 1;
  }

  &__establishments-box {
    background-color: $establishment-box;
    height: 175px;
    overflow-y: auto;
    border: 1px solid $card-border-color;
  }

  &__establishments-item {
    background-color: $white;
    display: flex;
    align-items: center;
    @include boxShadow;
    border: 1px solid $card-border-color;

    &--selected {
      background-color: $establishment-item-selected;
      box-shadow: none;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__establishments-choose {

    i {
      font-size: $font-size-big;
    }
  }

  .input-range__label--max {
    display: none;
  }
  
  .input-range__label--min {
    display: none;
  }

  .input-range__label-container {
    display: none;
  }
}