.stats-panel {
  padding: 15px 15px 0 15px;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  height: 125px;
  color: $white;

  &--1 {
    background: $panel-1 url("../img/panel_bg.png") no-repeat bottom right;
    background-size: 100px;
  }

  &--2 {
    background: $panel-2 url("../img/panel_bg.png") no-repeat bottom right;
    background-size: 100px;
  }

  &--3 {
    background: $panel-3 url("../img/panel_bg.png") no-repeat bottom right;
    background-size: 100px;
  }

  &--4 {
    background: $panel-4 url("../img/panel_bg.png") no-repeat bottom right;
    background-size: 100px;
  }
}