.typical-client {

  &__item {
    font-size: $font-size-xxs;
    color: $typical-client-text;
  }

  &__color {
    width: 20px;
    height: 20px;

    &--1 {
      background-color: $typical-client-color-1;
    }

    &--2 {
      background-color: $typical-client-color-2;
    }

    &--3 {
      background-color: $typical-client-color-3
    }

    &--4 {
      background-color: $typical-client-color-4;
    }

    &--5 {
      background-color: $typical-client-color-5;
    }
  }

  &__body {
    flex: 1;
    border-top: 1px solid $typical-client-border;

    &--last {
      border-bottom: 1px solid $typical-client-border;
    }
  }

  &__prop {
    flex: 1;
  }

  &__settings {
    cursor: pointer;
    color: $typical-client-border;
  }

  &__image {
    background: $typical-client-image-bg;
    height: 130px;
  }
}
